.App {
  border-collapse: collapse;
  border-radius: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #4F4F4F;
  justify-content: center;
}
body{
  background: #333333;
  justify-content: center;
  display: flex;
  color: #ffffff;
}


.contactClass{
  padding: 3px;
  font-size: 30px;
  font-style: italic;
  display: flex;
  height: 40px;
  margin-left: 20%;
}
.ContactCsv{
  height: 100%;
}

.skill{
  background: lightgray;
  color: black;
  margin: 5px;
  gap: 5px;
  padding: 10px;
  border-radius: 40%;
  text-align: center;

}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card{
  width: 600px;
  padding: 100px 50px;
}

.photoImg {
  justify-content: center;
  display: flex;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: transform 2s;
}

.Cont{
  display: flex;
  justify-content: center;
}

.photoImg:hover{
  animation: rotate 3s running infinite alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.3);
  }
}